.matCard{
  
    width:20%;
    height: 50%;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: auto;
    margin-top: 3%;
   
  }
.input-style{
    width: 50%;
}

.matCardTitle{
    color:blue;
    margin-left: 9%;
}
.matCardSubTitle{
    color: palevioletred;
    margin-left: 5%;
}
.example-container{
    width: 80%;
    color:black
  
}
.input-style{
    color: black;
    width: 100%
}
.buttonLogin{
    display:inline-block;
}